# Project artifacts
/data/
/reports/

# Generated assets
*.csv
*.png
*.jpg
*.jpeg
*.pdf

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
/.venv/
/venv/
/env/
/.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS metadata
.DS_Store
Thumbs.db
